In [1]:
# loading the packages
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
from sklearn.decomposition import PCA

In [2]:
# Viewing the WVS data

WVS4_data = pd.read_csv('WVS_TimeSeries_4_0 2.csv')

In [3]:
print(WVS4_data.head())

  version                    doi  S002VS  S003 COUNTRY_ALPHA  COW_NUM  \
0   4-0-0  doi:10.14281/18241.22       4     8           ALB      339
1   4-0-0  doi:10.14281/18241.22       4     8           ALB      339
2   4-0-0  doi:10.14281/18241.22       4     8           ALB      339
3   4-0-0  doi:10.14281/18241.22       4     8           ALB      339
4   4-0-0  doi:10.14281/18241.22       4     8           ALB      339

  COW_ALPHA  S004  S006      S007  ...     Y023A  Y023B     Y023C  Y024A  \
0       ALB    -4     1  80420001  ...       NaN    NaN  0.000000    NaN
1       ALB    -4     2  80420002  ...  0.000000    0.0  0.000000    NaN
2       ALB    -4     3  80420003  ...       NaN    0.0  0.000000    NaN
3       ALB    -4     4  80420004  ...  0.333333    1.0  0.555556    NaN
4       ALB    -4     5  80420005  ...  0.000000    0.0  0.222222    NaN

   Y024B  Y024C  survself  tradrat5  TradAgg  SurvSAgg
0    NaN    NaN       NaN       NaN      NaN       NaN
1    NaN    NaN       NaN       NaN      NaN       NaN
2    NaN    NaN       NaN       NaN      NaN       NaN
3    NaN    NaN       NaN       NaN      NaN       NaN
4    NaN    NaN       NaN       NaN      NaN       NaN

[5 rows x 1045 columns]

In [4]:
# Viewing a sample of the data

sample_data = WVS4_data.sample(frac=0.01)

In [5]:
print(sample_data.head())

       version                    doi  S002VS  S003 COUNTRY_ALPHA  COW_NUM  \
346451   4-0-0  doi:10.14281/18241.22       3   710           ZAF      560
183894   4-0-0  doi:10.14281/18241.22       5   380           ITA      325
11337    4-0-0  doi:10.14281/18241.22       4    32           ARG      160
184588   4-0-0  doi:10.14281/18241.22       6   392           JPN      740
315678   4-0-0  doi:10.14281/18241.22       7   643           RUS      365

       COW_ALPHA  S004       S006        S007  ...     Y023A     Y023B  \
346451       SAF     1        124  7100320124  ...  0.666667  0.000000
183894       ITA    -4        867  3800520867  ...  0.000000  0.000000
11337        ARG    -4        844   320420844  ...  0.444444  0.444444
184588       JPN    -4        549  3920620549  ...  0.000000  0.444444
315678       RUS    -4  643071496   643721496  ...  0.111111  0.333333

           Y023C  Y024A  Y024B  Y024C  survself  tradrat5   TradAgg  SurvSAgg
346451  0.444444   0.00    0.0  0.000 -0.398046 -1.119174 -1.901871 -0.682464
183894  0.000000   0.66    0.5  0.580 -0.430588 -0.757526 -1.319616 -0.741364
11337   0.222222   1.00    1.0  1.000 -0.334928  0.021892 -0.064754 -0.568220
184588  0.444444   0.33    0.5  0.415 -0.210000  0.165713  0.166798 -0.342100
315678  0.333333   0.00    0.5  0.250 -0.414152  0.600405  0.866652 -0.711616

[5 rows x 1045 columns]

In [6]:
# Viewing the data's shape

num_rows = sample_data.shape[0]
print(num_rows)

4509

In [7]:
# Viewing the data just for one country 

filtered_data = WVS4_data[WVS4_data['COUNTRY_ALPHA'] == "MEX"]

In [8]:
print(filtered_data.head())

       version                    doi  S002VS  S003 COUNTRY_ALPHA  COW_NUM  \
231138   4-0-0  doi:10.14281/18241.22       5   484           MEX       70
231139   4-0-0  doi:10.14281/18241.22       5   484           MEX       70
231140   4-0-0  doi:10.14281/18241.22       5   484           MEX       70
231141   4-0-0  doi:10.14281/18241.22       5   484           MEX       70
231142   4-0-0  doi:10.14281/18241.22       5   484           MEX       70

       COW_ALPHA  S004  S006        S007  ...     Y023A     Y023B     Y023C  \
231138       MEX    -4     1  4840520001  ...       NaN  0.000000  0.000000
231139       MEX    -4     2  4840520002  ...  0.111111  0.222222  0.333333
231140       MEX    -4     3  4840520003  ...  0.444444  0.000000  0.000000
231141       MEX    -4     4  4840520004  ...  0.000000  0.000000  0.000000
231142       MEX    -4     5  4840520005  ...       NaN       NaN       NaN

        Y024A  Y024B  Y024C  survself  tradrat5   TradAgg  SurvSAgg
231138   0.33    1.0  0.665       NaN       NaN       NaN       NaN
231139   0.00    0.0  0.000 -1.492493 -0.029557 -0.147587 -2.663413
231140   0.66    1.0  0.830 -1.245867  0.561693  0.804325 -2.217019
231141   0.33    0.0  0.165 -0.625513 -0.674004 -1.185146 -1.094178
231142    NaN    NaN    NaN       NaN       NaN       NaN       NaN

[5 rows x 1045 columns]

In [9]:
# Viewing the filtered data's shape

filtered_data.shape
print(num_rows)

4509

In [10]:
# Printing the number of unique values

unique_values = filtered_data['S025'].unique()
print(unique_values)

[4842005 4842012 4842000 4841996 4841990 4841981 4842018]

In [11]:
# Printing the number of unique values

value_counts = filtered_data['S025'].value_counts()
print(value_counts)

S025
4842012    2000
4841981    1837
4842018    1741
4842005    1560
4842000    1535
4841990    1531
4841996    1510
Name: count, dtype: int64

In [12]:
# Subsetting countries which are also in the mediation dataset

countries = ['24',  '31', '70', '108', '116', '140', '148', '170', '174', '178', '180', '191', '222', '231', '268', '320',  '624', '360', '376', '384', '422', '430', '807', '466', '484', '498', '504', '508', '104', '562', '566', '598', '608', '646', '686', '694', '706', '144', '729', '762',  '826', '887']  # Numeric values
country_codes_int = [int(code) for code in countries]  # Convert list to integers
country_data = WVS4_data[WVS4_data['S003'].isin(country_codes_int)]

unique_names = country_data['COUNTRY_ALPHA'].unique()
print(unique_names)

['AZE' 'BIH' 'MMR' 'COL' 'HRV' 'SLV' 'ETH' 'GEO' 'GTM' 'IDN' 'ISR' 'LBN'
 'MLI' 'MEX' 'MDA' 'MAR' 'NGA' 'PHL' 'RWA' 'TJK' 'MKD' 'GBR' 'YEM']

In [13]:
# Viewing the subsetted countries

print(country_data.head())

     version                    doi  S002VS  S003 COUNTRY_ALPHA  COW_NUM  \
6488   4-0-0  doi:10.14281/18241.22       6    31           AZE      373
6489   4-0-0  doi:10.14281/18241.22       6    31           AZE      373
6490   4-0-0  doi:10.14281/18241.22       6    31           AZE      373
6491   4-0-0  doi:10.14281/18241.22       6    31           AZE      373
6492   4-0-0  doi:10.14281/18241.22       6    31           AZE      373

     COW_ALPHA  S004  S006       S007  ...  Y023A     Y023B     Y023C  Y024A  \
6488       AZE    -4     1  310620001  ...    0.0  0.111111  0.555556   0.33
6489       AZE    -4     2  310620002  ...    0.0  0.000000  0.444444   0.00
6490       AZE    -4     3  310620003  ...    0.0  0.000000  0.555556   0.00
6491       AZE    -4     4  310620004  ...    0.0  0.333333  0.444444   0.33
6492       AZE    -4     5  310620005  ...    0.0  0.000000  0.555556   0.33

      Y024B  Y024C  survself  tradrat5   TradAgg  SurvSAgg
6488    0.0  0.165 -0.532819  0.363461  0.485171 -0.926402
6489    0.5  0.250 -1.037460  0.441870  0.611410 -1.839802
6490    0.5  0.250 -1.222707 -0.138872 -0.323585 -2.175100
6491    1.0  0.665 -0.889496  0.140985  0.126986 -1.571987
6492    0.0  0.165 -0.133174 -1.284846 -2.168602 -0.203045

[5 rows x 1045 columns]

In [14]:
# Viewing columns

print(country_data.columns.tolist())

['version', 'doi', 'S002VS', 'S003', 'COUNTRY_ALPHA', 'COW_NUM', 'COW_ALPHA', 'S004', 'S006', 'S007', 'S008', 'MODE', 'S010', 'S011A', 'S011B', 'S012', 'S013', 'S013B', 'S016', 'S016B', 'S017', 'S018', 'S020', 'S021', 'S022', 'S023', 'S024', 'S025', 'A001', 'A002', 'A003', 'A004', 'A005', 'A006', 'A008', 'A009', 'A010', 'A011', 'A012', 'A013', 'A014', 'A015', 'A016', 'A017', 'A018', 'A019', 'A025', 'A026', 'A027', 'A029', 'A030', 'A032', 'A034', 'A035', 'A038', 'A039', 'A040', 'A041', 'A042', 'A043B', 'A044', 'A045', 'A046', 'A047', 'A048', 'A049', 'A057', 'A058', 'A059', 'A060', 'A061', 'A062', 'A063', 'A064', 'A065', 'A066', 'A080_02', 'A067', 'A068', 'A069', 'A080_01', 'A070', 'A071', 'A071B', 'A071C', 'A072', 'A073', 'A074', 'A075', 'A076', 'A077', 'A079', 'A080', 'A081', 'A082', 'A083', 'A084', 'A085', 'A086', 'A087', 'A088', 'A088B', 'A088C', 'A089', 'A090', 'A091', 'A092', 'A093', 'A094', 'A096', 'A097', 'A098', 'A099', 'A100', 'A101', 'A102', 'A103', 'A104', 'A105', 'A106', 'A106B', 'A106C', 'A106D', 'A107', 'A108', 'A109', 'A110', 'A111', 'A112', 'A113', 'A114', 'A115', 'A116', 'A117', 'A118', 'A119', 'A120', 'A124_01', 'A124_02', 'A124_03', 'A124_04', 'A124_05', 'A124_06', 'A124_07', 'A124_08', 'A124_09', 'A124_10', 'A124_11', 'A124_12', 'A124_13', 'A124_14', 'A124_15', 'A124_16', 'A124_17', 'A124_18', 'A124_19', 'A124_20', 'A124_21', 'A124_22', 'A124_23', 'A124_24', 'A124_25', 'A124_27', 'A124_28', 'A124_29', 'A124_30', 'A124_31', 'A124_32', 'A124_33', 'A124_34', 'A124_35', 'A124_36', 'A124_37', 'A124_38', 'A124_42', 'A124_43', 'A124_45', 'A124_46', 'A124_47', 'A124_48', 'A124_49', 'A124_50', 'A124_51', 'A124_52', 'A124_53', 'A124_54', 'A124_55', 'A124_56', 'A124_57', 'A124_58', 'A124_59', 'A124_60', 'A124_61', 'A165', 'A168', 'A168A', 'A169', 'A170', 'A173', 'A174', 'A189', 'A190', 'A191', 'A192', 'A193', 'A194', 'A195', 'A196', 'A197', 'A198', 'A199', 'A200', 'A201', 'A202', 'A203', 'A204', 'A205', 'A206', 'A207', 'A208', 'A209', 'A210', 'A211', 'A212', 'A213', 'A214', 'A215', 'A216', 'A217', 'A218', 'A219', 'A220', 'A221', 'A222', 'B001', 'B002', 'B003', 'B004', 'B005', 'B006', 'B007', 'B008', 'B009', 'B010', 'B011', 'B012', 'B013', 'B014', 'B015', 'B016', 'B017', 'B018', 'B019', 'B020', 'B021', 'B022', 'B023', 'B030', 'B031', 'C001', 'C001_01', 'C002', 'C002_01', 'C004', 'C005', 'C006', 'C008', 'C009', 'C010', 'C011', 'C012', 'C013', 'C014', 'C015', 'C016', 'C017', 'C018', 'C019', 'C020', 'C021', 'C022', 'C023', 'C024', 'C025', 'C027_90', 'C031', 'C033', 'C034', 'C036', 'C037', 'C038', 'C039', 'C040', 'C041', 'C042B1', 'C042B2', 'C042B3', 'C042B4', 'C042B5', 'C042B6', 'C042B7', 'C059', 'C060', 'C061', 'C062', 'C063', 'C064', 'D001', 'D001_B', 'D002', 'D003', 'D004', 'D005', 'D006', 'D007', 'D008', 'D009', 'D010', 'D011', 'D012', 'D013', 'D014', 'D015', 'D016', 'D017', 'D018', 'D019', 'D022', 'D023', 'D024', 'D025', 'D026_03', 'D026_05', 'D027', 'D028', 'D029', 'D030', 'D031', 'D032', 'D033', 'D034', 'D035', 'D036', 'D037', 'D038', 'D043', 'D054', 'D055', 'D056', 'D057', 'D058', 'D059', 'D060', 'D061', 'D062', 'D063', 'D063_B', 'D066', 'D066_B', 'D066_01', 'D067', 'D068', 'D069', 'D070', 'D071', 'D072', 'D073', 'D074', 'D075', 'D076', 'D077', 'D078', 'D079', 'D080', 'D081', 'E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E008', 'E009', 'E010', 'E012', 'E014', 'E015', 'E016', 'E017', 'E018', 'E019', 'E020', 'E022', 'E023', 'E025', 'E025B', 'E026', 'E026B', 'E027', 'E028', 'E028B', 'E029', 'E032', 'E033', 'E034', 'E035', 'E036', 'E037', 'E038', 'E039', 'E040', 'E041', 'E045', 'E046', 'E047', 'E048', 'E049', 'E050', 'E051', 'E052', 'E053', 'E054', 'E055', 'E056', 'E057', 'E058', 'E059', 'E060', 'E061', 'E062', 'E063', 'E064', 'E065', 'E066', 'E067', 'E068', 'E069_01', 'E069_02', 'E069_03', 'E069_04', 'E069_05', 'E069_06', 'E069_07', 'E069_08', 'E069_09', 'E069_10', 'E069_11', 'E069_12', 'E069_13', 'E069_14', 'E069_15', 'E069_17', 'E069_18', 'E069_18A', 'E069_19', 'E069_20', 'E069_21', 'E069_22', 'E069_23', 'E069_24', 'E069_25', 'E069_26', 'E069_27', 'E069_28', 'E069_29', 'E069_30', 'E069_31', 'E069_32', 'E069_33', 'E069_34', 'E069_35', 'E069_38', 'E069_39', 'E069_40', 'E069_41', 'E069_42', 'E069_43', 'E069_44', 'E069_45', 'E069_46', 'E069_47', 'E069_48', 'E069_49', 'E069_51', 'E069_52', 'E069_54', 'E069_55', 'E069_56', 'E069_57', 'E069_58', 'E069_59', 'E069_60', 'E069_61', 'E069_62', 'E069_63', 'E069_64', 'E069_65', 'E069_66', 'E069_67', 'E104', 'E105', 'E106', 'E107', 'E108', 'E109', 'E110', 'E111', 'E112', 'E113', 'E114', 'E115', 'E116', 'E117', 'E117B', 'E118', 'E119', 'E120', 'E121', 'E122', 'E123', 'E124', 'E125', 'E127', 'E128', 'E129', 'E129A', 'E129B', 'E129C', 'E129D', 'E130', 'E131', 'E132', 'E133', 'E134', 'E135', 'E136', 'E137', 'E138', 'E139', 'E140', 'E141', 'E142', 'E143', 'E150', 'E179WVS', 'E179_WVS7LOC', 'E180WVS', 'E182', 'E184', 'E185', 'E186', 'E188', 'E189', 'E190', 'E191', 'E192', 'E193', 'E194', 'E195', 'E196', 'E198', 'E203', 'E204', 'E205', 'E206', 'E207', 'E208', 'E209', 'E211', 'E212', 'E213', 'E214', 'E215', 'E216', 'E217', 'E218', 'E219', 'E220', 'E221B', 'E222', 'E222B', 'E224', 'E225', 'E226', 'E227', 'E228', 'E229', 'E230', 'E231', 'E232', 'E233', 'E233A', 'E233B', 'E234', 'E235', 'E236', 'E237', 'E238', 'E239', 'E240', 'E241', 'E242', 'E243', 'E244', 'E245', 'E246', 'E247', 'E248', 'E248B', 'E249', 'E250', 'E250B', 'E251', 'E252', 'E253', 'E253B', 'E254', 'E254B', 'E255', 'E256', 'E257', 'E258', 'E258B', 'E259', 'E259B', 'E260', 'E260B', 'E261', 'E261B', 'E262', 'E262B', 'E263', 'E264', 'E265_01', 'E265_02', 'E265_03', 'E265_04', 'E265_05', 'E265_06', 'E265_07', 'E265_08', 'E265_09', 'E265_10', 'E266', 'E267', 'E268', 'E269', 'E270', 'E271', 'E272', 'E273', 'E274', 'E275', 'E276', 'E277', 'E278', 'E289', 'E290', 'E279', 'E280', 'E281', 'E282', 'E283', 'E284', 'E285', 'E286', 'E287', 'E288', 'E291', 'F001', 'F003', 'F004', 'F005', 'F006', 'F007', 'F008', 'F009', 'F010', 'F022', 'F024', 'F025', 'F025_WVS', 'F027', 'F028', 'F028B', 'F029', 'F031', 'F032', 'F033', 'F034', 'F035', 'F036', 'F037', 'F038', 'F040', 'F041', 'F042', 'F043', 'F044', 'F045', 'F046', 'F047', 'F048', 'F049', 'F050', 'F051', 'F052', 'F053', 'F054', 'F055', 'F057', 'F059', 'F060', 'F062', 'F063', 'F064', 'F065', 'F066', 'F067', 'F102', 'F103', 'F104', 'F105', 'F108', 'F109', 'F110', 'F111', 'F114A', 'F114E', 'F114B', 'F114C', 'F114D', 'F115', 'F116', 'F117', 'F118', 'F119', 'F120', 'F121', 'F122', 'F123', 'F124', 'F125', 'F126', 'F127', 'F128', 'F129', 'F130', 'F132', 'F135', 'F135A', 'F136', 'F139', 'F140', 'F141', 'F142', 'F143', 'F144', 'F144_02', 'F164', 'F165', 'F166', 'F167', 'F168', 'F169', 'F170', 'F171', 'F172', 'F173', 'F174', 'F175', 'F176', 'F177', 'F178', 'F179', 'F186', 'F187', 'F188', 'F189', 'F190', 'F191', 'F192', 'F193', 'F194', 'F195', 'F196', 'F197', 'F198', 'F199', 'F200', 'F201', 'F202', 'F203', 'F204', 'F205', 'F206', 'G001', 'G001CS', 'G002', 'G002CS', 'G003CS', 'G005', 'G006', 'G007_01', 'G007_02', 'G007_03', 'G007_04', 'G007_05', 'G007_06', 'G007_07', 'G007_08', 'G007_09', 'G007_10', 'G007_11', 'G007_12', 'G007_13', 'G007_16', 'G007_17', 'G007_18', 'G007_18_B', 'G007_19', 'G007_20', 'G007_21', 'G007_22', 'G007_28', 'G007_30', 'G007_31', 'G007_32', 'G007_33_B', 'G007_34_B', 'G007_35_B', 'G007_36_B', 'G007_37', 'G007_39', 'G007_40', 'G007_41', 'G007_42', 'G007_43', 'G007_44', 'G007_45', 'G007_48', 'G007_49', 'G007_50', 'G007_51', 'G007_52', 'G007_53', 'G007_54', 'G007_55', 'G007_56', 'G007_57', 'G007_58', 'G007_59', 'G007_60', 'G007_61', 'G007_62', 'G007_63', 'G007_64', 'G007_65', 'G007_66', 'G007_67', 'G015', 'G015B', 'G016', 'G017', 'G018', 'G019', 'G020', 'G021', 'G022A', 'G022B', 'G022C', 'G022D', 'G022E', 'G022F', 'G022G', 'G022H', 'G022I', 'G022J', 'G022K', 'G022L', 'G022M', 'G022N', 'G022O', 'G022P', 'G022Q', 'G022R', 'G023', 'G024', 'G025', 'G026', 'G026_01', 'G027', 'G027_01', 'G027A', 'G027B', 'G028', 'G029', 'G030', 'G031', 'G032', 'G052', 'G053', 'G054', 'G055', 'G056', 'G057', 'G058', 'G059', 'G060', 'G062', 'G063', 'G255', 'H001', 'H002_01', 'H002_02', 'H002_03', 'H002_04', 'H002_05', 'H003_01', 'H003_02', 'H003_03', 'H004', 'H005', 'H006_01', 'H006_02', 'H006_03', 'H006_04', 'H006_05', 'H006_06', 'H007', 'H008_01', 'H008_02', 'H008_03', 'H008_04', 'H008_05', 'H008_06', 'H008_07', 'H008_08', 'H008_09', 'H009', 'H010', 'H011', 'I001', 'I002', 'V001A', 'V002A', 'V004AF_01', 'V004AM_01', 'V004RF', 'V004RM', 'V097EF', 'W002A_01', 'W002D', 'W002R', 'W003', 'W006E', 'X001', 'X002', 'X002_02A', 'X003', 'X003R', 'X003R2', 'X007', 'X008', 'X010', 'X011', 'X011A', 'X012', 'X013', 'X023', 'X023R', 'X024B', 'X025', 'X025A_01', 'X025CSWVS', 'X025LIT', 'X025R', 'X026', 'X028', 'X031', 'X036', 'X036E', 'X040', 'X041', 'X043', 'X044', 'X045', 'X045B', 'X047_WVS', 'X047CS', 'X047R_WVS', 'X048ISO', 'X048WVS', 'X049', 'X049CS', 'X050', 'X050B', 'X050C', 'X051', 'X052', 'X053', 'X054', 'X055', 'Y001', 'Y002', 'Y003', 'Y010', 'Y011', 'Y012', 'Y013', 'Y014', 'Y020', 'Y021', 'Y022', 'Y023', 'Y024', 'Y011A', 'Y011B', 'Y011C', 'Y012A', 'Y012B', 'Y012C', 'Y013A', 'Y013B', 'Y013C', 'Y014A', 'Y014B', 'Y014C', 'Y021A', 'Y021B', 'Y021C', 'Y022A', 'Y022B', 'Y022C', 'Y023A', 'Y023B', 'Y023C', 'Y024A', 'Y024B', 'Y024C', 'survself', 'tradrat5', 'TradAgg', 'SurvSAgg']

In [15]:
# FInding the number of unique country-year dyads

value_counts = country_data['S025'].value_counts()
print(value_counts)

# There are 72 country-year dyads.

S025
3602018    3200
1701997    3029
1702005    3025
1701998    2996
8262022    2609
5662000    2022
3602006    2015
2681996    2008
311997     2002
4842012    2000
5661995    1996
4841981    1837
5662012    1759
4842018    1741
4842005    1560
4842000    1535
4662007    1534
4841990    1531
6462012    1527
1702018    1520
1702012    1512
4841996    1510
6462007    1507
2682009    1500
2312007    1500
2221999    1254
5042001    1251
5662018    1237
2312020    1230
3202020    1229
2682014    1202
1042020    1200
6082001    1200
4222018    1200
6082019    1200
6081996    1200
5042011    1200
5042007    1200
4222013    1200
5042021    1200
7622020    1200
701998     1200
702001     1200
6082012    1200
3762001    1199
1911996    1196
8261998    1093
8072001    1055
4982006    1046
8262005    1041
4982002    1008
312011     1002
5661990    1001
3602001    1000
3202004    1000
8872014    1000
8071998     995
4981996     984
Name: count, dtype: int64

In [16]:
# Forming a new column called 'year'

country_data = country_data.copy()
country_data.loc[:, 'year'] = country_data['S025'].astype(str).str[-4:]

In [17]:
# Counting the number of unique years

value_counts = country_data['year'].value_counts()
print(value_counts)

# Ensuring the year column is  numeric
country_data['year'] = pd.to_numeric(country_data['year'], errors='coerce')

year
2018    8898
2012    7998
2001    6905
1996    6898
1998    6284
2007    5741
2005    5626
1997    5031
2020    4859
2000    3557
2006    3061
2022    2609
1990    2532
2011    2202
2014    2202
1995    1996
1981    1837
2009    1500
1999    1254
2013    1200
2021    1200
2019    1200
2002    1008
2004    1000
Name: count, dtype: int64

In [18]:
# Subsetting for years that match the mediation dataset

country_data = country_data[country_data['year'] < 2009]

# Counting the number of unique years

value_counts = country_data['year'].value_counts()
print(value_counts)

# Ensuring the year column is  numeric
country_data['year'] = pd.to_numeric(country_data['year'], errors='coerce')

year
2001    6905
1996    6898
1998    6284
2007    5741
2005    5626
1997    5031
2000    3557
2006    3061
1990    2532
1995    1996
1981    1837
1999    1254
2002    1008
2004    1000
Name: count, dtype: int64

In [19]:
print(country_data.head())

     version                    doi  S002VS  S003 COUNTRY_ALPHA  COW_NUM  \
7490   4-0-0  doi:10.14281/18241.22       3    31           AZE      373
7491   4-0-0  doi:10.14281/18241.22       3    31           AZE      373
7492   4-0-0  doi:10.14281/18241.22       3    31           AZE      373
7493   4-0-0  doi:10.14281/18241.22       3    31           AZE      373
7494   4-0-0  doi:10.14281/18241.22       3    31           AZE      373

     COW_ALPHA  S004  S006       S007  ...     Y023B     Y023C  Y024A  Y024B  \
7490       AZE     1     1  310320001  ...  0.222222  0.222222   0.33    0.0
7491       AZE     1     2  310320002  ...  0.222222  0.222222   0.00    0.0
7492       AZE     1     3  310320003  ...  0.222222  0.222222   0.33    0.0
7493       AZE     1     4  310320004  ...  0.222222  0.222222   0.33    0.0
7494       AZE     1     5  310320005  ...  0.000000  0.000000   0.00    0.0

      Y024C  survself  tradrat5   TradAgg  SurvSAgg  year
7490  0.165 -0.756641 -0.663332 -1.167965 -1.331520  1997
7491  0.000       NaN       NaN       NaN       NaN  1997
7492  0.165 -1.300484 -0.125287 -0.301712 -2.315877  1997
7493  0.165 -0.550773 -0.621158 -1.100065 -0.958899  1997
7494  0.000 -0.646363 -1.342345 -2.261176 -1.131918  1997

[5 rows x 1046 columns]

In [20]:
# Viewing the country data's shape

num_rows = country_data.shape[0]
print(num_rows)

52730

In [21]:
# Counting the number of unique survey responses by country

value_counts = country_data['COUNTRY_ALPHA'].value_counts()
print(value_counts)

COUNTRY_ALPHA
COL    9050
MEX    7973
NGA    5019
MDA    3038
IDN    3015
MAR    2451
PHL    2400
BIH    2400
GBR    2134
MKD    2050
GEO    2008
AZE    2002
MLI    1534
RWA    1507
ETH    1500
SLV    1254
ISR    1199
HRV    1196
GTM    1000
Name: count, dtype: int64

In [22]:
# Subsetting survey variables required 

survey_data = country_data[['A068','E023', 'E025', 'E026', 'E027', 'E028', 'E029', 'E069_06', 'E069_07', 'E069_08','E069_11', 'E069_17', 'E111', 'E125','E128','E192' ,'E193','E194', 'E195','E198', 'F115', 'F116', 'G007_01','MODE','S003', 'S006', 'S007','S008', 'S012', 'S017', 'S018','S020','S021','S024','S025', 'X001','X002','X002_02A','X003','X007','X024B','X025', 'X028','X036','X036E', 'X045', 'X045B', 'X047_WVS', 'X047CS', 'X051', 'COUNTRY_ALPHA']]

In [23]:
# Viewing survey data

print(survey_data.head())

      A068  E023  E025  E026  E027  E028  E029  E069_06  E069_07  E069_08  \
7490    -4     4     3     3     3     3     3        3       -1        4
7491    -4     3     3     3     3     3     3        2        3        2
7492    -4     2     3     3     3     3     3        3        1        2
7493    -4     2     3     3     2     3     3        3        2       -1
7494    -4     2     3     3     3     3     3        3        1        4

      ...  X025  X028  X036  X036E  X045  X045B  X047_WVS  X047CS     X051  \
7490  ...     6     6    61     -4     3     -4         4       4  31002.0
7491  ...     4     1    33     -4     3     -4         5       5  31002.0
7492  ...     4     8    16     -4     3     -4         5       5  31002.0
7493  ...     8     1    23     -4     3     -4         6       6  31002.0
7494  ...     8     1    32     -4     1     -4         6       6  31002.0

      COUNTRY_ALPHA
7490            AZE
7491            AZE
7492            AZE
7493            AZE
7494            AZE

[5 rows x 51 columns]

In [24]:
# Viewing shape of survey data

num_rows = survey_data.shape[0]
print(num_rows)

52730

In [25]:
# Renaming variables for survey data

survey_data.rename(columns={'A068': 'Member.Political.Parties', 'E023': 'Interest.Politics', 'E025': 'Political.Action.Petition', 'E026': 'Political.Action.Boycotts', 'E027': 'Political.Action.Demonstrations', 'E028': 'Political.Action.Strikes', 'E029': 'Political.Action.Occupied', 'E069_06': 'Confidence.Police', 'E069_07': 'Confidence.Parliament', 'E069_08': 'Confidence.Civil.Service', 'E069_11': 'Confidence.Government', 'E069_12': 'Confidence.Political.Parties', 'E069_17': 'Confidence.Justice','E111': 'Rate.Political.System', 'E125': 'Satisfaction.National.Office', 'E128': 'BigInterest', 'E192': 'Least.Liked.Name', 'E193': 'Least.Liked.Office', 'E194': 'Least.Liked.Teach', 'E195': 'Least.Liked.Demonstrate', 'E198': 'Violence.Justified', 'F115': 'Justifiable.Avoid.Fare', 'F116': 'Justifiable.Cheat.Taxes', 'G007_01': 'Trust.Other.People', 'S003': 'Country.Code', 'S006': 'Respondent.Number', 'S007': 'Unified.Respondent.Number', 'S008': 'Interviewer.Number', 'S012': 'Interview.Date', 'S017': 'Weight', 'S018': 'Equilibrated.Weight', 'S020': 'Year.Survey', 'S021': 'Country.Wave.Study.Set.Year', 'S024': 'Country.Wave', 'S025': 'Country.Year', 'X001': 'Sex', 'X002': 'Year.Birth', 'X002_02A': 'Country.Birth', 'X003': 'Age', 'X007': 'Marital.Status', 'X024B': 'Literate', 'X025': 'Highest.Education', 'X028': 'Employment.Status', 'X036': 'Job', 'X036E': 'Occupational.Group', 'X045': 'Social.Class', 'X045B': 'Social.Class.Categorical', 'X047_WVS': 'Scale.Incomes', 'X047CS': 'Scale.Incomes.Country.Specific', 'X051': 'Ethnic.Group' , 'COUNTRY_ALPHA': 'Country.Name'}, inplace=True)

In [26]:
# Viewing summary statistics again
for i, column in enumerate(survey_data.columns, 1):
    print(f"{i}. {column}")

1. Member.Political.Parties
2. Interest.Politics
3. Political.Action.Petition
4. Political.Action.Boycotts
5. Political.Action.Demonstrations
6. Political.Action.Strikes
7. Political.Action.Occupied
8. Confidence.Police
9. Confidence.Parliament
10. Confidence.Civil.Service
11. Confidence.Government
12. Confidence.Justice
13. Rate.Political.System
14. Satisfaction.National.Office
15. BigInterest
16. Least.Liked.Name
17. Least.Liked.Office
18. Least.Liked.Teach
19. Least.Liked.Demonstrate
20. Violence.Justified
21. Justifiable.Avoid.Fare
22. Justifiable.Cheat.Taxes
23. Trust.Other.People
24. MODE
25. Country.Code
26. Respondent.Number
27. Unified.Respondent.Number
28. Interviewer.Number
29. Interview.Date
30. Weight
31. Equilibrated.Weight
32. Year.Survey
33. Country.Wave.Study.Set.Year
34. Country.Wave
35. Country.Year
36. Sex
37. Year.Birth
38. Country.Birth
39. Age
40. Marital.Status
41. Literate
42. Highest.Education
43. Employment.Status
44. Job
45. Occupational.Group
46. Social.Class
47. Social.Class.Categorical
48. Scale.Incomes
49. Scale.Incomes.Country.Specific
50. Ethnic.Group
51. Country.Name

In [27]:
# Viewing summary statistics for survey data

print(survey_data.describe())

       Member.Political.Parties  Interest.Politics  Political.Action.Petition  \
count              52730.000000       52730.000000               52730.000000
mean                  -3.324825           2.164821                   2.005291
std                    1.513469           2.089088                   1.184921
min                   -4.000000          -5.000000                  -2.000000
25%                   -4.000000           2.000000                   2.000000
50%                   -4.000000           3.000000                   2.000000
75%                   -4.000000           3.000000                   3.000000
max                    1.000000           4.000000                   3.000000

       Political.Action.Boycotts  Political.Action.Demonstrations  \
count               52730.000000                     52730.000000
mean                    2.003471                         2.000967
std                     1.798368                         1.468237
min                    -5.000000                        -5.000000
25%                     2.000000                         2.000000
50%                     3.000000                         2.000000
75%                     3.000000                         3.000000
max                     3.000000                         3.000000

       Political.Action.Strikes  Political.Action.Occupied  Confidence.Police  \
count              52730.000000               52730.000000       52730.000000
mean                   0.444927                   0.486137           2.234345
std                    3.134782                   3.171423           1.725558
min                   -4.000000                  -4.000000          -5.000000
25%                   -4.000000                  -4.000000           2.000000
50%                    2.000000                   3.000000           3.000000
75%                    3.000000                   3.000000           3.000000
max                    3.000000                   3.000000           4.000000

       Confidence.Parliament  Confidence.Civil.Service  ...      Literate  \
count           52730.000000              52730.000000  ...  52730.000000
mean                2.328200                  2.031443  ...     -3.595923
std                 1.836672                  2.033309  ...      1.324921
min                -5.000000                 -5.000000  ...     -4.000000
25%                 2.000000                  2.000000  ...     -4.000000
50%                 3.000000                  3.000000  ...     -4.000000
75%                 3.000000                  3.000000  ...     -4.000000
max                 4.000000                  4.000000  ...      1.000000

       Highest.Education  Employment.Status           Job  Occupational.Group  \
count       52730.000000       52730.000000  52730.000000             52730.0
mean            3.321297           3.065541     25.252627                -4.0
std             3.663196           2.621196     21.379009                 0.0
min            -5.000000          -4.000000     -5.000000                -4.0
25%             1.000000           1.000000     -2.000000                -4.0
50%             4.000000           3.000000     25.000000                -4.0
75%             6.000000           5.000000     34.000000                -4.0
max             8.000000           8.000000     81.000000                -4.0

       Social.Class  Social.Class.Categorical  Scale.Incomes  \
count  52730.000000              52730.000000   52730.000000
mean       1.661104                 -3.159757       3.666964
std        3.163291                  2.482529       3.100914
min       -5.000000                 -4.000000      -5.000000
25%        1.000000                 -4.000000       2.000000
50%        3.000000                 -4.000000       4.000000
75%        4.000000                 -4.000000       6.000000
max        5.000000                  6.000000      10.000000

       Scale.Incomes.Country.Specific   Ethnic.Group
count                    52730.000000   52730.000000
mean                     99533.519496  320373.568557
std                     209233.051007  273816.654006
min                         -5.000000      -4.000000
25%                         -2.000000      -4.000000
50%                          3.000000  360004.000000
75%                         10.000000  504102.000000
max                     826140.000000  826999.000000

[8 rows x 50 columns]

In [28]:
# Printing the number of unique values

unique_values_col1 = survey_data['Country.Code'].unique()
unique_values_col2 = survey_data['Country.Name'].unique()

print("Unique values in col1:", unique_values_col1)
print("Unique values in col2:", unique_values_col2)

Unique values in col1: [ 31  70 170 191 222 231 268 320 360 376 466 484 498 504 566 608 646 807
 826]
Unique values in col2: ['AZE' 'BIH' 'COL' 'HRV' 'SLV' 'ETH' 'GEO' 'GTM' 'IDN' 'ISR' 'MLI' 'MEX'
 'MDA' 'MAR' 'NGA' 'PHL' 'RWA' 'MKD' 'GBR']

In [29]:
# Viewing the number of non-NA responses per variable

non_na_counts = survey_data.count()
print(non_na_counts)

Member.Political.Parties           52730
Interest.Politics                  52730
Political.Action.Petition          52730
Political.Action.Boycotts          52730
Political.Action.Demonstrations    52730
Political.Action.Strikes           52730
Political.Action.Occupied          52730
Confidence.Police                  52730
Confidence.Parliament              52730
Confidence.Civil.Service           52730
Confidence.Government              52730
Confidence.Justice                 52730
Rate.Political.System              52730
Satisfaction.National.Office       52730
BigInterest                        52730
Least.Liked.Name                   52730
Least.Liked.Office                 52730
Least.Liked.Teach                  52730
Least.Liked.Demonstrate            52730
Violence.Justified                 52730
Justifiable.Avoid.Fare             52730
Justifiable.Cheat.Taxes            52730
Trust.Other.People                 52730
MODE                               52730
Country.Code                       52730
Respondent.Number                  52730
Unified.Respondent.Number          52730
Interviewer.Number                 52730
Interview.Date                     52730
Weight                             52730
Equilibrated.Weight                52730
Year.Survey                        52730
Country.Wave.Study.Set.Year        52730
Country.Wave                       52730
Country.Year                       52730
Sex                                52730
Year.Birth                         52730
Country.Birth                      52730
Age                                52730
Marital.Status                     52730
Literate                           52730
Highest.Education                  52730
Employment.Status                  52730
Job                                52730
Occupational.Group                 52730
Social.Class                       52730
Social.Class.Categorical           52730
Scale.Incomes                      52730
Scale.Incomes.Country.Specific     52730
Ethnic.Group                       52730
Country.Name                       52730
dtype: int64

In [30]:
# Viewing summary statistics for survey data

survey_data.describe()

,Member.Political.Parties,Interest.Politics,Political.Action.Petition,Political.Action.Boycotts,Political.Action.Demonstrations,Political.Action.Strikes,Political.Action.Occupied,Confidence.Police,Confidence.Parliament,Confidence.Civil.Service,...,Literate,Highest.Education,Employment.Status,Job,Occupational.Group,Social.Class,Social.Class.Categorical,Scale.Incomes,Scale.Incomes.Country.Specific,Ethnic.Group
count,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000,...,52730.000000,52730.000000,52730.000000,52730.000000,52730.0,52730.000000,52730.000000,52730.000000,52730.000000,52730.000000
mean,-3.324825,2.164821,2.005291,2.003471,2.000967,0.444927,0.486137,2.234345,2.328200,2.031443,...,-3.595923,3.321297,3.065541,25.252627,-4.0,1.661104,-3.159757,3.666964,99533.519496,320373.568557
std,1.513469,2.089088,1.184921,1.798368,1.468237,3.134782,3.171423,1.725558,1.836672,2.033309,...,1.324921,3.663196,2.621196,21.379009,0.0,3.163291,2.482529,3.100914,209233.051007,273816.654006
min,-4.000000,-5.000000,-2.000000,-5.000000,-5.000000,-4.000000,-4.000000,-5.000000,-5.000000,-5.000000,...,-4.000000,-5.000000,-4.000000,-5.000000,-4.0,-5.000000,-4.000000,-5.000000,-5.000000,-4.000000
25%,-4.000000,2.000000,2.000000,2.000000,2.000000,-4.000000,-4.000000,2.000000,2.000000,2.000000,...,-4.000000,1.000000,1.000000,-2.000000,-4.0,1.000000,-4.000000,2.000000,-2.000000,-4.000000
50%,-4.000000,3.000000,2.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,...,-4.000000,4.000000,3.000000,25.000000,-4.0,3.000000,-4.000000,4.000000,3.000000,360004.000000
75%,-4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,-4.000000,6.000000,5.000000,34.000000,-4.0,4.000000,-4.000000,6.000000,10.000000,504102.000000
max,1.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,...,1.000000,8.000000,8.000000,81.000000,-4.0,5.000000,6.000000,10.000000,826140.000000,826999.000000

In [31]:
## ADDING NEW VARIABLES FOR GDP PER CAPITA AND UNEPLOYMENT RATE**

gdp_data = pd.read_csv('rearranged_gdp_data.csv')

gdp_data

gdp_data['GDP.Per.Capita'] = pd.to_numeric(gdp_data['GDP.Per.Capita'], errors='coerce')  # Converts errors to NaN
gdp_data['Unemployment.Rate'] = pd.to_numeric(gdp_data['Unemployment.Rate'], errors='coerce')  # Converts errors to NaN

In [32]:

# Renaming variables

gdp_data.rename(columns={'Country.Code': 'Country.Name'}, inplace=True)
gdp_data.rename(columns={'Year': 'Year.Survey'}, inplace=True)

print(survey_data['Country.Name'].unique())
print(gdp_data['Country.Name'].unique())

['AZE' 'BIH' 'COL' 'HRV' 'SLV' 'ETH' 'GEO' 'GTM' 'IDN' 'ISR' 'MLI' 'MEX'
 'MDA' 'MAR' 'NGA' 'PHL' 'RWA' 'MKD' 'GBR']
['AFG' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS' 'AUT'
 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN' 'BOL'
 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'CPV' 'KHM' 'CMR' 'CAN'
 'CYM' 'CAF' 'TCD' 'CHI' 'CHL' 'CHN' 'COL' 'COM' 'COD' 'COG' 'CRI' 'CIV'
 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY' 'SLV'
 'GNQ' 'ERI' 'EST' 'SWZ' 'ETH' 'FRO' 'FJI' 'FIN' 'FRA' 'PYF' 'GAB' 'GMB'
 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GUM' 'GTM' 'GIN' 'GNB' 'GUY'
 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR'
 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'PRK' 'KOR' 'XKX' 'KWT' 'KGZ'
 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MDG' 'MWI'
 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT' 'MUS' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG'
 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC' 'NER'
 'NGA' 'MKD' 'MNP' 'NOR' 'OMN' 'PAK' 'PLW' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'POL' 'PRT' 'PRI' 'QAT' 'ROU' 'RUS' 'RWA' 'WSM' 'SMR' 'STP' 'SAU' 'SEN'
 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'SSD' 'ESP'
 'LKA' 'KNA' 'LCA' 'MAF' 'VCT' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TJK' 'TZA'
 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR'
 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT' 'VEN' 'VNM' 'VIR' 'PSE' 'YEM' 'ZMB'
 'ZWE' 'AFE' 'AFW' 'ARB' 'CSS' 'CEB' 'EAR' 'EAS' 'EAP' 'TEA' 'EMU' 'ECS'
 'ECA' 'TEC' 'EUU' 'FCS' 'HPC' 'HIC' 'IBD' 'IBT' 'IDB' 'IDX' 'IDA' 'LTE'
 'LCN' 'LAC' 'TLA' 'LDC' 'LMY' 'LIC' 'LMC' 'MEA' 'MNA' 'TMN' 'MIC' 'NAC'
 'INX' 'OED' 'OSS' 'PSS' 'PST' 'PRE' 'SST' 'SAS' 'TSA' 'SSF' 'SSA' 'TSS'
 'UMC' 'WLD' nan]

In [33]:
# Merging data
survey_data = pd.merge(survey_data, gdp_data, on=['Country.Name', 'Year.Survey'], how='left')

# Checking NA counts
non_na_counts = survey_data.count()
print(non_na_counts)

Member.Political.Parties           52730
Interest.Politics                  52730
Political.Action.Petition          52730
Political.Action.Boycotts          52730
Political.Action.Demonstrations    52730
Political.Action.Strikes           52730
Political.Action.Occupied          52730
Confidence.Police                  52730
Confidence.Parliament              52730
Confidence.Civil.Service           52730
Confidence.Government              52730
Confidence.Justice                 52730
Rate.Political.System              52730
Satisfaction.National.Office       52730
BigInterest                        52730
Least.Liked.Name                   52730
Least.Liked.Office                 52730
Least.Liked.Teach                  52730
Least.Liked.Demonstrate            52730
Violence.Justified                 52730
Justifiable.Avoid.Fare             52730
Justifiable.Cheat.Taxes            52730
Trust.Other.People                 52730
MODE                               52730
Country.Code                       52730
Respondent.Number                  52730
Unified.Respondent.Number          52730
Interviewer.Number                 52730
Interview.Date                     52730
Weight                             52730
Equilibrated.Weight                52730
Year.Survey                        52730
Country.Wave.Study.Set.Year        52730
Country.Wave                       52730
Country.Year                       52730
Sex                                52730
Year.Birth                         52730
Country.Birth                      52730
Age                                52730
Marital.Status                     52730
Literate                           52730
Highest.Education                  52730
Employment.Status                  52730
Job                                52730
Occupational.Group                 52730
Social.Class                       52730
Social.Class.Categorical           52730
Scale.Incomes                      52730
Scale.Incomes.Country.Specific     52730
Ethnic.Group                       52730
Country.Name                       52730
Country                            52730
GDP.Per.Capita                     52730
Unemployment.Rate                  39152
dtype: int64

In [34]:
#Exporting survey data to csv

survey_data.to_csv('survey_data.csv', index=False)

In [35]:
# Upload Menninga data 

correct_data = pd.io.stata.read_stata('BiasBalance_medeffort_JPR.dta')
correct_data.to_csv('menningadata2.csv')

In [36]:
# Viewing the mediation data

print(correct_data.head())

   conflict_id     medends  attemptid  ConflictID   medbegins  \
0          327  11/27/1992  540199201       131.0  11/27/1992
1          327    2/2/1993  540199301       131.0    2/2/1993
2          327   5/21/1993  540199302       131.0   4/12/1993
3          327  12/22/1993  540199303       131.0   11/2/1993
4          327   1/30/1994  540199401       131.0    1/6/1994

                                   nameofthirdparty1  milpolbias1  \
0  M. Anstee, The UN Special Repesentative in Angola         -1.0
1  M. Anstee, The UN Special Repesentative in Angola          0.0
2  M. Anstee, The UN Special Repesentative in Angola          0.0
3  Alioume Blondin Beye, the UN Special Rep (Repr...          0.0
4                 Beye, the UN Special Rep in Angola          0.0

  nameofthirdparty2  milpolbias2 nameofthirdparty3  ...  cultbias_agg1  \
0                            NaN                    ...              0
1                            NaN                    ...              0
2                US         -1.0            Russia  ...              0
3                US         -1.0            Russia  ...              0
4                            NaN                    ...              0

  cultbias_agg2  cultbias_agg3 cultbias_agg  milpol_agg1 milpol_agg2  \
0             1              0          2.0            1           0
1             1              0          2.0            0           1
2             1              0          2.0            1           1
3             1              0          2.0            1           1
4             1              0          2.0            0           1

   milpol_agg3 milpol_agg  terr_conflict_full pk_BH
0            0        1.0                 0.0   0.0
1            0        2.0                 0.0   1.0
2            1        0.0                 0.0   1.0
3            1        0.0                 0.0   1.0
4            0        2.0                 0.0   1.0

[5 rows x 68 columns]

In [37]:
# VIewing mediation data columns

# Viewing summary statistics again
for i, column in enumerate(correct_data.columns, 1):
    print(f"{i}. {column}")

1. conflict_id
2. medends
3. attemptid
4. ConflictID
5. medbegins
6. nameofthirdparty1
7. milpolbias1
8. nameofthirdparty2
9. milpolbias2
10. nameofthirdparty3
11. milpolbias3
12. nameofthirdparty4
13. milpolbias4
14. nameofthirdparty5
15. milpolbias5
16. nameofthirdparty6
17. milpolbias6
18. nameofthirdparty7
19. milpolbias7
20. nameofthirdparty8
21. milpolbias8
22. medcode1
23. medcode2
24. medcode3
25. medcode4
26. medcode5
27. medcode6
28. medcode7
29. medcode8
30. numofmed
31. reb_strength
32. cultbias_effort
33. cultbias1
34. cultbias2
35. cultbias3
36. cultbias4
37. cultbias5
38. cultbias6
39. cultbias7
40. cultbias8
41. balance_io
42. peaceagt_dum
43. month
44. year
45. ccode
46. polity2
47. lag_mediation
48. terr_conflict
49. numrebels
50. addl_med
51. conf_duration_months
52. int_military
53. viol_stop2_conflict
54. viol_stop12_conflict
55. viol_stop24_conflict
56. peaceagt_any
57. dyad_id_paid
58. paid_dum
59. cultbias_agg1
60. cultbias_agg2
61. cultbias_agg3
62. cultbias_agg
63. milpol_agg1
64. milpol_agg2
65. milpol_agg3
66. milpol_agg
67. terr_conflict_full
68. pk_BH

In [39]:
# Subsetting mediation variables required 

correct_data = correct_data[['medends', 'attemptid', 'ConflictID', 'medbegins', 'nameofthirdparty1', 'nameofthirdparty2', 'nameofthirdparty3', 'nameofthirdparty4', 'nameofthirdparty5', 'nameofthirdparty6', 'nameofthirdparty7','nameofthirdparty8', 'numofmed', 'reb_strength', 'balance_io', 'year', 'ccode', 'polity2', 'terr_conflict', 'conf_duration_months', 'peaceagt_any','peaceagt_dum']]



# Viewing column names again
for i, column in enumerate(correct_data.columns, 1):
    print(f"{i}. {column}")

1. medends
2. attemptid
3. ConflictID
4. medbegins
5. nameofthirdparty1
6. nameofthirdparty2
7. nameofthirdparty3
8. nameofthirdparty4
9. nameofthirdparty5
10. nameofthirdparty6
11. nameofthirdparty7
12. nameofthirdparty8
13. numofmed
14. reb_strength
15. balance_io
16. year
17. ccode
18. polity2
19. terr_conflict
20. conf_duration_months
21. peaceagt_any
22. peaceagt_dum

In [40]:
# Adding new variables for year that mediation began and ended

# Convert date strings to datetime and extract year in one step
correct_data['med_start'] = pd.to_datetime(correct_data['medbegins'].str.strip(), errors='coerce').dt.year
correct_data['med_end'] = pd.to_datetime(correct_data['medends'].str.strip(), errors='coerce').dt.year

# Removing old variables
# Removing empty columns
columns_to_remove = ['medbegins', 'medends']

# Remove the specified columns
correct_data.drop(columns=columns_to_remove, inplace=True)

# Display the updated DataFrame
correct_data

,attemptid,ConflictID,nameofthirdparty1,nameofthirdparty2,nameofthirdparty3,nameofthirdparty4,nameofthirdparty5,nameofthirdparty6,nameofthirdparty7,nameofthirdparty8,...,balance_io,year,ccode,polity2,terr_conflict,conf_duration_months,peaceagt_any,peaceagt_dum,med_start,med_end
0,540199201,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,1.0,1992.0,540.0,0,0.0,262.0,1.0,1.0,1992,1992
1,540199301,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,2.0,1993.0,540.0,-1,0.0,265.0,0.0,0.0,1993,1993
2,540199302,131.0,"M. Anstee, The UN Special Repesentative in Angola",US,Russia,Portugal,,,,,...,0.0,1993.0,540.0,-1,0.0,267.0,0.0,0.0,1993,1993
3,540199303,131.0,"Alioume Blondin Beye, the UN Special Rep (Repr...",US,Russia,Portugal,,,,,...,0.0,1993.0,540.0,-1,0.0,274.0,1.0,0.0,1993,1993
4,540199401,131.0,"Beye, the UN Special Rep in Angola",,,,,,,,...,2.0,1994.0,540.0,-2,0.0,276.0,1.0,1.0,1994,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,679199301,207.0,Jordan,France,Oman,Palestine,US,,,,...,2.0,1993.0,679.0,-2,NaN,0.0,0.0,0.0,1993,1993
306,679199302,207.0,Jordan,,,,,,,,...,2.0,1993.0,679.0,-2,NaN,0.0,1.0,1.0,1993,1994
307,679199401,207.0,France,Jordan,Egypt,US,Arab League,Oman,,,...,2.0,1994.0,679.0,-2,NaN,0.0,0.0,0.0,1994,1994
308,679199402,207.0,Arab League members,UN (Special envoy Lakdhar Brahimi),,,,,,,...,2.0,1994.0,679.0,-2,1.0,203.0,0.0,0.0,1994,1994
309,679199403,207.0,Russia For. Min. Kozyiev,,,,,,,,...,2.0,1994.0,679.0,-2,1.0,203.0,1.0,0.0,1994,1994

In [41]:
# Printing the number of unique country codes

unique_codes = correct_data['ccode'].unique()
print(unique_codes)

[540. 373. 346. 516. 811. 482. 483. 100. 581. 484. 490. 344.  92. 530.
 372.  90. 404. 850. 666. 437. 660. 450. 343. 432.  70. 359. 600. 541.
 775. 436. 475. 910. 840. 517. 433. 451. 520. 780. 625. 702. 200. 679.]

In [42]:
# Changing country codes to match ISO formatting
value_map = {
    540: '24',
    373: '31',
    346: '70',
    516: '108',
    811: '116',
    482: '140',
    483: '148',
    100: '170',
    581: '174',
    484: '178',
    490: '180',
    344: '191',
    92: '222',
    530: '231',
    372: '268',
    90: '320',
    404: '624',
    850: '360',
    666: '376',
    437: '384',
    660: '422',
    450: '430',
    343: '807',
    432: '466',
    70: '484',
    359: '498',
    600: '504',
    541: '508',
    775: '104',
    436: '562',
    475: '566',
    910: '598',
    840: '608',
    517: '646',
    433: '686',
    451: '694',
    520: '706',
    780: '144',
    625: '729',
    702: '762',
    200: '826',
    679: '887'
}

# Replace values in the specified column using the defined mapping
correct_data['ccode'] = correct_data['ccode'].replace(value_map)

# Print the updated DataFrame to verify changes
correct_data

,attemptid,ConflictID,nameofthirdparty1,nameofthirdparty2,nameofthirdparty3,nameofthirdparty4,nameofthirdparty5,nameofthirdparty6,nameofthirdparty7,nameofthirdparty8,...,balance_io,year,ccode,polity2,terr_conflict,conf_duration_months,peaceagt_any,peaceagt_dum,med_start,med_end
0,540199201,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,1.0,1992.0,24,0,0.0,262.0,1.0,1.0,1992,1992
1,540199301,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,2.0,1993.0,24,-1,0.0,265.0,0.0,0.0,1993,1993
2,540199302,131.0,"M. Anstee, The UN Special Repesentative in Angola",US,Russia,Portugal,,,,,...,0.0,1993.0,24,-1,0.0,267.0,0.0,0.0,1993,1993
3,540199303,131.0,"Alioume Blondin Beye, the UN Special Rep (Repr...",US,Russia,Portugal,,,,,...,0.0,1993.0,24,-1,0.0,274.0,1.0,0.0,1993,1993
4,540199401,131.0,"Beye, the UN Special Rep in Angola",,,,,,,,...,2.0,1994.0,24,-2,0.0,276.0,1.0,1.0,1994,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,679199301,207.0,Jordan,France,Oman,Palestine,US,,,,...,2.0,1993.0,887,-2,NaN,0.0,0.0,0.0,1993,1993
306,679199302,207.0,Jordan,,,,,,,,...,2.0,1993.0,887,-2,NaN,0.0,1.0,1.0,1993,1994
307,679199401,207.0,France,Jordan,Egypt,US,Arab League,Oman,,,...,2.0,1994.0,887,-2,NaN,0.0,0.0,0.0,1994,1994
308,679199402,207.0,Arab League members,UN (Special envoy Lakdhar Brahimi),,,,,,,...,2.0,1994.0,887,-2,1.0,203.0,0.0,0.0,1994,1994
309,679199403,207.0,Russia For. Min. Kozyiev,,,,,,,,...,2.0,1994.0,887,-2,1.0,203.0,1.0,0.0,1994,1994

In [43]:
# Renaming variables
correct_data.rename(columns={'med_end': 'Year.Med.Ends', 'med_start': 'Year.Med.Begins', 'nameofthirdparty1': 'ThirdParty.1', 'nameofthirdparty2': 'ThirdParty.2', 'nameofthirdparty3': 'ThirdParty.3', 'nameofthirdparty4': 'ThirdParty.4', 'nameofthirdparty5': 'ThirdParty.5', 'nameofthirdparty6': 'ThirdParty.6', 'nameofthirdparty7': 'ThirdParty.7', 'nameofthirdparty8': 'ThirdParty.8', 'numofmed': 'Number.Mediators', 'reb_strength': 'Rebel.Strength', 'balance_io': 'Med.Balance', 'year': 'Year', 'ccode': 'Country.Code', 'polity2': 'Democracy.Polity2', 'terr_conflict': 'Terr', 'conf_duration_months' :'Conflict.Duration.Months', 'peaceagt_any':'Peace.Agreement.Any','peaceagt_dum':'Peace.Agreement.Dummy' }, inplace=True)

# Print the updated DataFrame to verify changes
correct_data

,attemptid,ConflictID,ThirdParty.1,ThirdParty.2,ThirdParty.3,ThirdParty.4,ThirdParty.5,ThirdParty.6,ThirdParty.7,ThirdParty.8,...,Med.Balance,Year,Country.Code,Democracy.Polity2,Terr,Conflict.Duration.Months,Peace.Agreement.Any,Peace.Agreement.Dummy,Year.Med.Begins,Year.Med.Ends
0,540199201,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,1.0,1992.0,24,0,0.0,262.0,1.0,1.0,1992,1992
1,540199301,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,2.0,1993.0,24,-1,0.0,265.0,0.0,0.0,1993,1993
2,540199302,131.0,"M. Anstee, The UN Special Repesentative in Angola",US,Russia,Portugal,,,,,...,0.0,1993.0,24,-1,0.0,267.0,0.0,0.0,1993,1993
3,540199303,131.0,"Alioume Blondin Beye, the UN Special Rep (Repr...",US,Russia,Portugal,,,,,...,0.0,1993.0,24,-1,0.0,274.0,1.0,0.0,1993,1993
4,540199401,131.0,"Beye, the UN Special Rep in Angola",,,,,,,,...,2.0,1994.0,24,-2,0.0,276.0,1.0,1.0,1994,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,679199301,207.0,Jordan,France,Oman,Palestine,US,,,,...,2.0,1993.0,887,-2,NaN,0.0,0.0,0.0,1993,1993
306,679199302,207.0,Jordan,,,,,,,,...,2.0,1993.0,887,-2,NaN,0.0,1.0,1.0,1993,1994
307,679199401,207.0,France,Jordan,Egypt,US,Arab League,Oman,,,...,2.0,1994.0,887,-2,NaN,0.0,0.0,0.0,1994,1994
308,679199402,207.0,Arab League members,UN (Special envoy Lakdhar Brahimi),,,,,,,...,2.0,1994.0,887,-2,1.0,203.0,0.0,0.0,1994,1994
309,679199403,207.0,Russia For. Min. Kozyiev,,,,,,,,...,2.0,1994.0,887,-2,1.0,203.0,1.0,0.0,1994,1994

In [44]:
#Convering correct data to csv

correct_data.to_csv('correct_data.csv', index=False)

In [45]:
# Creating a dummy variable for the treatment (receiving a baised

In [46]:
# Printing the number of unique beginning and end of mediation years

unique_begin_years = correct_data['Year.Med.Begins'].unique()
print(unique_begin_years)

unique_end_years = correct_data['Year.Med.Ends'].unique()
print(unique_end_years)


# Viewing unique mediation end years

unique_end_counts = correct_data['Year.Med.Ends'].value_counts()
print(unique_end_counts)

[1992 1993 1994 1995 1996 2002 1991 1997 2001 2000 2003 1989 1990 1999
 1998 2005 2004]
[1992 1993 1994 1995 1996 2002 1991 1997 2001 2000 2003 1989 1990 2005
 1999 1998 2004]
Year.Med.Ends
1994    52
1992    39
1993    37
1991    23
1995    19
2003    18
1997    18
2002    17
1990    13
2001    13
1999    12
2004    10
1996     9
1989     8
1998     8
2000     7
2005     7
Name: count, dtype: int64

In [47]:
# Printing the number of unique survey years

unique_survey_years = survey_data['Year.Survey'].unique()
print(unique_survey_years)

[1997 2001 1998 2005 1996 1999 2007 2004 2006 2000 1990 1981 2002 1995]

In [48]:
# Creating a new variable for length of mediation 

correct_data['Med.Length'] = correct_data["Year.Med.Ends"]-correct_data["Year.Med.Begins"]

# Viewing unique mediation lengths

unique_ML_counts = correct_data['Med.Length'].value_counts()
print(unique_ML_counts)

# Calculating average mediation length

correct_data['Med.Length'].mode()

Med.Length
0    280
1     23
3      4
2      2
5      1
Name: count, dtype: int64

0    0
Name: Med.Length, dtype: int32

In [49]:

#Viewing unique country-year dyads
units_per_country_year = correct_data.groupby(['Country.Code', 'Year']).size()

# Print the resulting series
units_per_country_year

Country.Code  Year
104           2003.0    1
108           2000.0    1
              2001.0    1
              2003.0    1
116           1989.0    2
                       ..
826           1995.0    1
              1997.0    2
              1998.0    1
887           1993.0    2
              1994.0    3
Length: 155, dtype: int64

In [50]:
correct_data

,attemptid,ConflictID,ThirdParty.1,ThirdParty.2,ThirdParty.3,ThirdParty.4,ThirdParty.5,ThirdParty.6,ThirdParty.7,ThirdParty.8,...,Year,Country.Code,Democracy.Polity2,Terr,Conflict.Duration.Months,Peace.Agreement.Any,Peace.Agreement.Dummy,Year.Med.Begins,Year.Med.Ends,Med.Length
0,540199201,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,1992.0,24,0,0.0,262.0,1.0,1.0,1992,1992,0
1,540199301,131.0,"M. Anstee, The UN Special Repesentative in Angola",,,,,,,,...,1993.0,24,-1,0.0,265.0,0.0,0.0,1993,1993,0
2,540199302,131.0,"M. Anstee, The UN Special Repesentative in Angola",US,Russia,Portugal,,,,,...,1993.0,24,-1,0.0,267.0,0.0,0.0,1993,1993,0
3,540199303,131.0,"Alioume Blondin Beye, the UN Special Rep (Repr...",US,Russia,Portugal,,,,,...,1993.0,24,-1,0.0,274.0,1.0,0.0,1993,1993,0
4,540199401,131.0,"Beye, the UN Special Rep in Angola",,,,,,,,...,1994.0,24,-2,0.0,276.0,1.0,1.0,1994,1994,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,679199301,207.0,Jordan,France,Oman,Palestine,US,,,,...,1993.0,887,-2,NaN,0.0,0.0,0.0,1993,1993,0
306,679199302,207.0,Jordan,,,,,,,,...,1993.0,887,-2,NaN,0.0,1.0,1.0,1993,1994,1
307,679199401,207.0,France,Jordan,Egypt,US,Arab League,Oman,,,...,1994.0,887,-2,NaN,0.0,0.0,0.0,1994,1994,0
308,679199402,207.0,Arab League members,UN (Special envoy Lakdhar Brahimi),,,,,,,...,1994.0,887,-2,1.0,203.0,0.0,0.0,1994,1994,0
309,679199403,207.0,Russia For. Min. Kozyiev,,,,,,,,...,1994.0,887,-2,1.0,203.0,1.0,0.0,1994,1994,0